body{
 
   
 
   
    background-repeat: no-repeat ;
}

.login{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url('https://media.discordapp.net/attachments/1239531615596707891/1300503878009360515/imagem-3.jpg?ex=6733891e&is=6732379e&hm=59cbb7eee9bfe619aab77fdaea8d2770d14a088b25e5490d09d9104377b48848&=&format=webp&width=503&height=671') ;
    background-size: cover;
    background-position: center;
    backdrop-filter: 50%;
 

    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: white;
        border-radius: 20px;
        margin-top: 150px;
        width: 400px;
        height: 500px;
        opacity: 70%;
        text-align: center;

        .inputs{
            display: flex;
            flex-direction: column;
            margin: 15px;
            width: 220px;

        }

        .botao{
            margin-top: 20px;
            width: 100px;
            background-color: rgb(0, 114, 253);
            color: #ffff;

        }
    }
}