.Inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .conteudo-inicio {
        flex: 1;
    }

    .cabecalho {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f3f3f3;
        height: 110PX;

        h1 {
            margin: 0px;
            background: linear-gradient(90deg, #f8ff1ef0, #01a6ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 40px;
        }

        .logo {
            width: 75px;
        }

        
        
    }


    .links {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        // padding: 0 5%;
        font-size: 25px;
        color: rgb(0, 0, 0);
    }

    .titulo {
        h2 {
            text-align: center;
        }
    }

    .contado {
        display: flex;
        justify-content: space-between;
        margin: 70px;

        .whats{
            display:flex ;
        }

        .insta{
            display:flex ;
        }

        p {}

        .logoWhats{
            width: 50px;
            height: 50px;
        }

        
        .logoInsta{
            width: 50px;
            height: 50px;
        }
    }

    .tudo{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .sessao {

        display: flex;
        text-align: center;
        width: 1500px;
        background-color: rgb(243, 243, 243);

        p {
            color: black;
            font-size: 20px;
        }
    }

    .imagens {
        display: flex;
        justify-content: space-evenly;

        .s1 {
            width: 250px;
            height: 200px;
            border: solid;
            background-color: grey;
            gap: 50px;
            margin-top: 100px;
        }

        .s2 {
            width: 250px;
            height: 200px;
            border: solid;
            background-color: grey;
            margin-top: 100px;
        }

        .s3 {
            width: 250px;
            height: 200px;
            border: solid;
            background-color: grey;
            margin-top: 100px;
        }

        .s4 {
            width: 250px;
            height: 200px;
            border: solid;
            background-color: grey;
            margin-top: 100px;
        }
    }

    .rodaPe{
        position: relative;
        bottom: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f3f3f3;
        // height: 110PX;
    }


        h1 {
            margin: 0px;
            background: linear-gradient(90deg, #f8ff1ef0, #01a6ff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 40px;
        }

        .logo {
            width: 75px;
        }

.container{

    background-image: url('https://cdn.discordapp.com/attachments/1239531615596707891/1300529837114392716/fun.jpg?ex=67212c4b&is=671fdacb&hm=309db6bc3931f9b0bd266c1811e675260534a09090ada234075f1472ff606a5b&');
    background-color:tra;


}

.fotos{
    margin-left: 130px;
    width: 50%;
}

.t1{
    text-align: center;
}


}