
.Sobre{

    .cabecalho{

        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #f3f3f3;
        height: 110PX;
        justify-content: space-between;         

        h1{
            margin: 0px;
            background: linear-gradient(90deg, #f8ff1ef0, #01a6ff); /* Altere as cores conforme necessário */
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 40px;
        }
        .logo{
            width: 75px;
        }

        .links{
            display: flex;
            align-items: center;
            margin: 20px;
            justify-content: space-evenly;
            width: 100%;
            font-size: 25px;
            color: black;
        }
        

    }

    .contado{
        display: flex;
        justify-content: space-between;
        margin: 60px;
        margin-top: 70px;

        .whats{
            display:flex ;
        }

        .insta{
            display:flex ;
        }

        p {}

        .logoWhats{
            width: 50px;
            height: 50px;
        }

        
        .logoInsta{
            width: 50px;
            height: 50px;
        }

    }

    .titulo{
        text-align: center;
        margin-top: 90px;
        
    }
    .repertorio{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        .card1{
          
            border-radius: 20px;
            width: 300px;
            text-align: center;
            background-image: linear-gradient(to top, #F2FF7D, #fdfdfd);
            -webkit-background-clip: se;
            -webkit-text-fill-color: transparent;
            box-shadow: 0 4px 8px rgba(0, 0, 0,);
            transition: transform 0.3s ease, box-shadow 0.3s ease;

            .card1:hover {
                transform: translateY(-10px); /* Sobe 10px ao passar o mouse */
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); /* Aumenta a sombra */
              }
            
            h2{
                text-align: center;
            }

            .foto{
                width: 200px;
                height: 150px;
            }
          
        }
    
        .card2{
            box-shadow: 0 4px 8px rgba(0, 0, 0,);
            border-radius: 20px;
            width: 300px;
            text-align: center;
            background-image: linear-gradient(to top, #4ECAFF, #fdfdfd);
            -webkit-background-clip: se;
            -webkit-text-fill-color: transparent

             h2{
                text-align: center;
            }

            .foto{
                width: 200px;
                height: 150px;

            }
    
          
        }
    
        .card3{
    
            box-shadow: 0 4px 8px rgba(0, 0, 0,);
            border-radius: 20px;
            width: 300px;
            text-align: center;
            background-image: linear-gradient(to top, #81FF71, #fdfdfd);
            -webkit-background-clip: se;
            -webkit-text-fill-color: transparent;
    
            h2{
                text-align: center;
            }

            .foto{
                width: 200px;
                height: 150px;
            }
        }
    
    
        
    
    }
    
    .s2{
        display: flex;
        justify-content: space-evenly;
        margin: 50px;
        .card4{
            
            box-shadow: 0 4px 8px rgba(0, 0, 0,);
            border-radius: 20px;
            width: 300px;
            text-align: center;
            background-image: linear-gradient(to top, #1668FF, #fdfdfd);
            -webkit-background-clip: se;
            -webkit-text-fill-color: transparent;
    
            h2{
                text-align: center;
            }

            .foto{
                width: 200px;
                height: 150px;
            }
        }
    
        .card5{
            box-shadow: 0 4px 8px rgba(0, 0, 0,);
            border-radius: 20px;
            width: 300px;
            text-align: center;
            background-image: linear-gradient(to top, #FF8737, #fdfdfd);
            -webkit-background-clip: se;
            -webkit-text-fill-color: transparent;
    
            h2{
                text-align: center;
            }

            .foto{
                width: 200px;
                height: 150px;
            }
        }
    }



}
